body {
    background-image: url('Images/background.jpg'); /*this will change all background color*/
}

/*NAVBAR STYLING*/

.navbar-wrapper {
    margin-top: 30px;
    background-color:transparent;
}

#navvy a {
    color:#000000; /*this changes color of home, support, about*/
}

.nav.navbar-nav {
    display: inline;
    float: right;
}