/*HEADER STYLING*/

li {
    display: inline;
    float: right;
}

/*#logoIMG {
    width:150px;
}*/

/*div.page-header {
    margin-top:0px;
    background-color:transparent;
    padding-top:3px;
    margin-bottom:0px;
}*/

/*NAVBAR STYLING*/

